[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "*"
click = "*"
flask = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
greenlet = "*"
importlib-metadata = "*"
importlib-resources = "*"
itsdangerous = "*"
jinja2 = "*"
mako = "*"
markupsafe = "*"
postgres = "*"
psycopg2-binary = "*"
psycopg2-pool = "*"
sqlalchemy = "*"
werkzeug = "*"
zipp = "*"
flask-cors = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.8"
